{% load reviews_extras %}

<div class="post">
    <h3>{{ ticket.title }}</h3>
    <p>{{ ticket.description }}</p>
    {% if ticket.image %}
        <img src="{{ ticket.image.url }}" alt="">
    {% endif %}
    <div class="infos">
        <p>Publié par {% get_user_display ticket.user %}</p>
        <p>{{ ticket.time_created|time_created_display }}</p>
    </div>
    {% if ticket.user == user %}
        <a class="button" href="{% url 'edit_ticket' ticket.id %}">Éditer</a>
    {% endif %}
    <a class="button" href="{% url 'create_reply_review' ticket.id %}">Répondre</a>
</div>