{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}

    <h2>Votre flux</h2>
        <div class="create_content">
            <a class="button" href="{% url 'create_ticket' %}">Demander une critique</a>
            <a class="button" href="{% url 'create_new_review' %}">Créer une critique</a>
        </div>
        <div class="content">
            {% for instance in page %}
               {% if instance|model_type == 'Ticket' %}
                   {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
               {% elif instance|model_type == 'Review' %}
                   {% include 'reviews/partials/review_snippet.html' with review=instance %}
               {% endif %}
            {% endfor %}
        </div>
        {% include 'reviews/partials/paginator_snippet.html' %}
{% endblock content %}