{% extends 'base.html' %}
{% load reviews_extras %}
{% block content %}

    <h2>Vos publications</h2>
        <div class="content">
            {% for instance in page %}
               {% if instance|model_type == 'Ticket' %}
                   {% include 'reviews/partials/ticket_snippet.html' with ticket=instance %}
               {% elif instance|model_type == 'Review' %}
                   {% include 'reviews/partials/review_snippet.html' with review=instance %}
               {% endif %}
            {% endfor %}
        </div>
        {% include 'reviews/partials/paginator_snippet.html' %}
{% endblock content %}